## ide files
.vs/
*suo
*cache
*user
*.dbmdl
*.jfm

## build files
**bin/
**obj/

## publish files, local launch settings
*.pubxml
*.PublishSettings
**Properties/
.config

## files containing sensitive info
appsettings*.json
