@page
@model CookingBlog.Web.Pages.Intranet.Admin.IndexModel
@{
    Layout = "_AdminLayout";
}

<h1>Admin home page</h1>
<p>This is the admin home page. In the future we could add some neat features like seeing most viewed recipes,
    telemetry, etc. For now, this message paying homage to the possibilities is all I can offer.
    Use the hyper links above to add recipes, ingredients, and tags.
</p>
<h1>Quick UI Guide</h1>
<ol>
    <li>
        Use the tags UI to add tags you may want to attach to a recipe ("high protein", "low carb", "under 20 mins", etc.)
        </li>
    <li>
        Use the ingredients UI to add ingredients you want in your recipes ("chicken breast", "pasta", etc.)
    </li>
    <li>
        Once you have added the tags and the ingredients you need for a recipe, go to the recipes UI to add or edit
        recipes you want to display on the website.
    </li>
</ol>
<video width="600" height="400" controls>
    <source src="/assets/img/tutorial-06-05-24.webm" type="video/webm">
</video>
<h1>Change Log (06/05/24)</h1>
<p>The following features have been deployed:</p>
<ol>
    <li>Author bio on side of page</li>
    <li>Doable dish logo added</li>
    <li>Sub-recipes added</li>
</ol>