@page
@model CookingBlog.Web.Pages.Intranet.Admin.Recipes.PreviewModel

@{
    ViewData["Title"] = "Preview";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<a href="../recipes">Return to recipes</a>
@await Component.InvokeAsync("RecipeDisplay", Model.RecipeId)