@page
@model CookingBlog.Web.Pages.Intranet.Admin.Ingredients.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Ingredient</h4>
<hr />
@await Component.InvokeAsync("IngredientForm", null)

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

