html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: 16px;
}

.logo {
    width: 200px;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2 !important;
    border-color: #1861ac !important;
    max-width: 150px;
}

.header-tab {
    text-decoration: none;
    color: black !important;
    font-weight: bold;
}

    .header-tab:hover {
        color: #63A924 !important;
    }